html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Roboto Light', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	color: #111111; 
	font-size: 17px;
	opacity: 0.8;
}

sub {

	font-family: 'Roboto Light', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	color: #111111; 
	font-size: 14px;
	opacity: 0.7;
}

h1, h2, h3, h4, h5 {
  margin: 1.414em 0 0.5em;  font-family: 'Roboto Condensed';
  font-weight: inherit;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {font-size: 3.375em;}

h3 {font-size: 2.25em;}

h4 {font-size: 1.5em;}

h5 {	
	font-size: 1.2em;
}

.carousel-title {
	color: #ffb500 !important;
	opacity: 0.7;
	font-weight: 600 !important;
}

small, .font_small {font-size: 0.667em;}

ul {
    margin-top: 18px !important;
}

.navbar {
	min-height: 100px !important;
	border-radius: none !important;
    border: none !important;
}

.navbar-default {

    background-color: transparent !important;
    border-color: none !important;
    border-radius: none !important;
}

.nav-link {
	text-transform: capitalize;
	font-family:  'Roboto Condensed', sans-serif;
	letter-spacing: 1px;
	color: #111111 !important;
	opacity: 0.7;
}

.navbar-default .navbar-nav > li > a:hover{
	cursor: pointer;
	color: #fff !important;
	opacity: 0.6;
}

.app-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	border-bottom: 1px solid #EFEFEF;
	padding: 20px;
}

.blog-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	border-bottom: 1px solid #EFEFEF;
	padding: 20px;
	justify-content: space-between;
}

/*Links*/

.about-link {
	margin: 1.414em 0 0.5em;  
	font-family: 'Roboto', sans-serif;
  	font-weight: 500;
  	line-height: 1.5;
	text-decoration: none;
	color: #111111;
	font-size: 14px;
}

.about-link:hover {

	text-decoration: none;
	background-color: #f8d57f;
	cursor: pointer;
}

.title {
	font-family:  'Roboto Light', sans-serif;
  	font-weight: 200;
  	font-size: 24px;
  	color: #111111;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: 1px;
}

.app-block .title:hover {
	color: #ffb500 !important;
	opacity: 0.6 !important;
	text-decoration: none;
	cursor: pointer;
	transition: .2s ease;
}

.blog-block > .title:hover {
	color: #111111;
}

.blog-link {
	margin: 1.414em 0 0.5em;  
	font-family: 'Roboto Light', sans-serif;
  	font-weight: 200;
  	line-height: 1.5;
	text-decoration: none;
	color: #111111;
	font-size: 14px;
	position: relative;
	letter-spacing: 0.28px;
	display: inline-block;
}

.blog-link:hover {
	text-decoration: none;
	background-color: #f8d57f;
	cursor: pointer;
}

/*TEXT*/

.hello {
	color: #ffb500;
	font-weight: 600;
	font-kerning: 8;
	letter-spacing: 1px;
}

.eds {
	font-family: 'Roboto Condensed';
	font-weight: 600;
}

.section-title {
	font-family: 'Roboto Condensed';
    color: #ffb500;
    font-weight: 600;
    letter-spacing: 3px;
}

.section-tagline {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	color: #ffb500;
	opacity: 0.8;
}

.desc {
	opacity: 0.6;
}

#footer-section > .inline-span > .section-title {
	color: #fff;
	font-size: 27px; 
	line-height: 1.4px;
}

/*ROW*/

.first-row {
	background-image: url('../img/intro.jpg');
	min-height: 765px;
	background-repeat: no-repeat;
	background-size: cover;
}

.second-row {
	min-height: 400px;
	margin-top: calc(150px/2);
}

.third-row {
	min-height: 600px;
}

.fourth-row {
	min-height: 600px;
}

.fifth-row {
	min-height: 500px;
}

.sixth-row {
	min-height: calc(100px / 2);
	background-color: #006bff;
	position: relative;
}

/*Container*/

#about-section {
	position: relative;
	padding: 20px;
}

#app-section {
	position: relative;
}

#footer-section {
	justify-content: center;
	display: flex;
}

/*Contents*/

.profilepic-content {
	text-align: center;
}


/*SPAN*/

.inline-span {

	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}
.app-block > .info-span {
	top: 30px;
	order: 2;
}

.blog-block > .info-span {
	top: 0;
	order: 2;
}

.img-span {
	/*text-align: center;*/
	order: -1;
}

.link-span {
	order: 3;
}

/*IMAGES*/

.logo {
	width: 150px;
}

.profilepic {
	width: 150px;
	margin: 30px;
}

.app-img {
	width: 100px;
	height: 100px;
}

.blog-cover {
	width: 100px;
	height: 100px;
}

/*ICON*/

.contact-icon {
	font-size: 20px;
	letter-spacing: 20px;
	color: #111111;
	opacity: 0.6;
}

.contact-icon:hover {
	color: #ffb500;
}

/*Carousel*/

.carousel-section {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}
#myCarousel {
	width: 600px !important;
	height: 300px !important;	
}

.carousel-img {
	width: 600px !important;
	height: 300px !important;	
}
	


@media (min-width: 768px) {

	.navbar {
		border-radius: none !important;
	    border: none !important;
	}

}